/*all*/
*{
    margin: 0;
    padding: 0;
}

/*contant*/
.container{
    margin-top: 5px;
    background: #C6C6C6;
    transition:all 2s ease-in-out;
}

/*discription*/
.discription{
    width: 80%;
}

/*changecolor*/
#changecolor{
    border-right: 1px #5F5F5F solid;
}